<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">

  
    <h1>scleroderma.ai</h1>
  </div>

  <p>This will navigate to the second page.</p>

  <a href="/secondpage.ejs">
    <button class='btn btn-dark'>Take me to the second page!</button>
  </a>

  <div id="image"></div>
  
</body>

</html>