<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">

  
    <h1>welcome to the second page!</h1>
  </div>

  <p>This will show hmc logos.</p>

  <button onClick="showPicture()" class="btn btn-dark">Click me</button>
  <a href="/"><button class='btn btn-dark'>Go back</button></a>

  <div id="image"></div>
  
</body>

</html>